:root {
    --color-primary-400: hsl(0, 36%, 70%);
    --color-primary-500: hsl(0, 93%, 68%);

    --color-neutral-400: hsl(0, 6%, 24%);

    --color-gradient-primary-from: hsl(0, 0%, 100%);
    --color-gradient-primary-to: hsl(0, 100%, 98%);

    --color-gradient-secondary-from: hsl(0, 80%, 86%);
    --color-gradient-secondary-to: hsl(0, 74%, 74%);

    --gradient-angle: 135deg;

    --font-family-base: 'Josefin Sans', sans-serif;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 600;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: var(--font-family-base);
    color: var(--color-primary-400);
    text-align: center;
    font-weight: var(--font-weight-normal);
}

@media (min-width: 1234px) {
    body {
        text-align: unset;
    }
}

main {
    background-image: url('./images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

input,
button,
textarea,
select {
    font: inherit;
    border: 0;
}

mark {
    background: inherit;
    color: var(--color-primary-400);
    font-weight: var(--font-weight-light);
}

.article {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1234px) {
    .article {
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-rows: auto 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100dvh;
    }
}

.article__logo {
    align-self: flex-start;
    padding: 1.5em 2em;
}

.article__logo img {
    transform: scale(0.65) translateX(-32px);
}

@media (min-width: 1234px) {
    .article__logo {
        grid-area: 1 / 1 / 2 / 2;
        padding: 4em 0;
        width: 60%;
        margin: 0 auto;
        max-width: 450px;
    }

    .article__logo img {
        transform: unset;
    }
}

@media (min-width: 676px) {
    picture img {
        margin: 0 auto;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 1234px) {
    picture {
        grid-area: 1 / 2 / 3 / 3;
    }
}

.article__info {
    padding: 0 2em;
}

@media (min-width: 676px) {
    .article__info {
        width: 75%;
        margin: 0 auto;
    }
}

@media (min-width: 1234px) {
    .article__info {
        grid-area: 2 / 1 / 3 / 2;
        padding: unset;
        width: 60%;
        margin: 0 auto;
        max-width: 450px;
    }
}

.article__info__heading {
    text-transform: uppercase;
    color: var(--color-neutral-400);
    font-size: 2.25rem;
    font-weight: var(--font-weight-normal);
    letter-spacing: 0.2em;
    line-height: 1;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

@media (min-width: 1234px) {
    .article__info__heading {
        font-size: 4.25rem;
    }
}

.article__info__lead {
    font-size: 0.9rem;
    margin-bottom: 2em;
}

@media (min-width: 1234px) {
    .article__info__lead {
        font-size: 1rem;
    }
}

.article__info__email-form {
    position: relative;
    display: block;
    line-height: 1.6;
    font-weight: var(--font-weight-normal);
    isolation: isolate;
}

@media (min-width: 676px) and (max-width: 1234px) {
    .article__info__email-form {
        width: 60%;
        margin: 0 auto;
    }
}

.article__info__email-form input {
    color: inherit;
    border: 1px solid var(--color-primary-400);
    border-radius: 2em;
    padding: 0.8em 2em;
    display: inline-block;
    width: 100%;
    background: inherit;
    color: var(--color-neutral-400);
    position: relative;
    z-index: -2;
}

.article__info__email-form input:focus-visible {
    outline: 2px solid var(--color-primary-400);
    outline-offset: 0.175em;
}

.article__info__email-form input::placeholder {
    color: var(--color-primary-400);
    opacity: 0.5;
}

.article__info__email-form button {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(
        135deg,
        var(--color-gradient-secondary-from),
        var(--color-gradient-secondary-to)
    );
    border-radius: 2em;
    display: inline-block;
    padding: 1em 1.75em;
    height: 100%;
}

.article__info__email-form button:hover {
    cursor: pointer;
    background: linear-gradient(
        135deg,
        var(--color-gradient-primary-to),
        var(--color-gradient-secondary-from)
    );
    box-shadow: 0 10px 20px var(--color-gradient-secondary-from);
}

@media (min-width: 1234px) {
    .article__info__email-form button {
        padding: 1em 2.5em;
    }
}

.wrong-email {
    border: 3px solid var(--color-primary-500) !important;
}

.error-icon::before {
    content: '';
    position: absolute;
    left: -75%;
    top: 3px;
    background-color: var(--color-gradient-primary-from);
    background-image: url('./images/icon-error.svg');
    background-repeat: no-repeat;
    background-position: 0.85em center;
    width: 4rem;
    height: calc(100% - 6px);
    z-index: -1;
}

@media (min-width: 1234px) {
    .error-icon::before {
        left: -55%;
    }
}

.error-message::before {
    content: 'Please provide a valid email';
    position: absolute;
    bottom: -2em;
    left: 2em;
    color: var(--color-primary-500) !important;
    font-size: 0.95rem;
}

.visuallyhidden {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
